<h1><%= @quote.printer_name %> quote for <%= @quote.specification.title %></h1>
<p>
  <%= link_to "(Delete)", quote_path(@quote), method: :delete,
  data: { confirm: "Are you sure?"} %>
</p>

<table class="table table__flush table__bordered">
  <% next if @quote.send("line_item_#{n}").blank? %>
  <tr>
    <td><%= @quote.send("line_item_#{n}")  %></td>
    <td><%= humanized_money_with_symbol @quote.send("cost_#{n}") %></td>
  </tr>

  <tr>
    <td><b>Total</b></td>
    <td><b><%= humanized_money_with_symbol @quote.total %></b></td>
  </tr>
</table>

<%= link_to "Back", job_specifications_path(@quote.specification.job) %>
