<h1><%= @job.title %> (<%= @job.job_number %>)</h1>

<p><%= @job.description %></p>

<h2>Specifictions</h2>

  <% @specifications.each do |spec| %>
    <h4><%= spec.title %>
      (<%= link_to "Delete", specification_path(spec), method: :delete, data: { confirm: "Are you sure?" } %> |
      <%= link_to "Add a quote", new_specification_quote_path(spec) %>)
    </h4>
    <p>
      Job due: <%= spec.job_due %><br>
      Quote due: <%= spec.quote_due %>
    </p>
    <% if spec.quotes.empty? %>
      <p>No quotes yet!</p>
    <% else %>
      <table class="table table__flush table__bordered">
        <% spec.quotes.each do |quote| %>
          <tr>
            <td>
              <b><br><%= quote.printer_name %>
              <%= link_to "(Delete)", quote_path(quote), method: :delete,
              data: { confirm: "Are you sure?"} %></b>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><%= quote.line_item_1  %></td>
            <td><%= quote.cost_1_cents %></td>
          </tr>
          <% unless quote.line_item_2.blank? %>
            <tr>
              <td><%= quote.line_item_2  %></td>
              <td><%= humanized_money_with_symbol quote.cost_2_cents %></td>
            </tr>
          <% end %>
          <% unless quote.line_item_3.blank? %>
            <tr>
              <td><%= quote.line_item_3  %></td>
              <td><%= humanized_money_with_symbol quote.cost_3_cents %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>
  <% end %>

<p>
  <%= link_to "Add a new spec", new_job_specification_path(@job), class: "button" %>
  <%= link_to "Back", jobs_path %>
</p>
