<h1><%= @job.title %> (<%= @job.job_number %>)</h1>

<p><%= @job.description %></p>
<p>State: <%#= @job.state.humanize if state? %> <%= link_to "Close printer quotes", close_printer_quotes_job_path(@job) %></p>

<h2>Specifictions</h2>

  <% @specifications.each do |spec| %>
    <h4><%= spec.title %>
      (<%= link_to "Edit", edit_specification_path(spec) %> |
      <%= link_to "Delete", specification_path(spec), method: :delete, data: { confirm: "Are you sure?" } %>
      <% if @job.printer_quotes_open? %>
        | <%= link_to "Add a quote", new_specification_quote_path(spec) %>
      <% end %>
      )
    </h4>
    <p>
      Job due: <%= spec.job_due %><br>
      Quote due: <%= spec.quote_due %>
    </p>
    <p><%= link_to "Add a quote",  new_specification_quote_path(spec) %></p>
    <% if spec.quotes.empty? %>
      <p>No quotes yet!</p>
    <% else %>
      <div class="cards clearfix">
        <% spec.quotes.each do |quote| %>
        <%= link_to quote_path(quote), class: "card" do %>
              <div class="card--content compressed">
              <h2><%= humanized_money_with_symbol quote.total %></h2>
              <p><strong class="nested-link--target"><%= quote.printer_name %></strong></p>
            </div>
            <div class="card--footer compressed">
              <p><small class="type--grey">New conversation</small></p>
            </div>
          </a>
        <% end %>

        <% end %>
      </div>
    <% end %>
  <% end %>

<p>
  <%= link_to "Add a new spec", new_job_specification_path(@job), class: "button" %>
  <%= link_to "Back", jobs_path %>
</p>
