<h1>New Specification</h1>

<%= simple_form_for([@job, @specification]) do |f| %>
<div class="inputs">
  <%- unless f.error_notification.blank? -%>
    <%= f.error_notification %>
  <%- end -%>
    <%= f.input :title %>
    <%= f.input :description %>
  </div>
  <div class="actions">
    <%= f.button :button, "Submit", class: "button" -%>
  </div>
<% end %>
